<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Data Package -->
    <logger name="catchat.data" level="null"/>

    <logger name="catchat.data.authentication" level="null"/>

    <logger name="catchat.data.entities" level="null"/> <!-- TODO -->

    <logger name="catchat.data.model" level="null"/>
    <logger name="catchat.data.model.Model" level="null"/>

    <logger name="catchat.data.receiver" level="null"/>

    <logger name="catchat.data.source" level="null"/>
    <logger name="catchat.data.source.groupme.BaseGroupMeApiCommand" level="null"/>

    <!-- UI Package -->
    <logger name="catchat.ui" level="null"/> <!-- TODO -->

    <logger name="catchat.ui.authentication" level="null"/> <!-- TODO -->
    <logger name="catchat.ui.authentication.AuthPresenter" level="null"/> <!-- TODO -->
    <logger name="catchat.ui.authentication.AuthView" level="null"/> <!-- TODO -->

    <logger name="catchat.ui.chats" level="null"/>
    <logger name="catchat.ui.chats.ChatsPresenter" level="null"/>
    <logger name="catchat.ui.chats.view" level="trace"/>

    <logger name="catchat.ui.messages" level="null"/> <!-- TODO -->
    <logger name="catchat.ui.messages.MessagesPresenter" level="null"/> <!-- TODO -->
    <logger name="catchat.ui.messages.view" level="null"/> <!-- TODO -->

    <logger name="catchat.ui.system" level="null"/> <!-- TODO -->

    <!--<logger name="org.eclipse.jetty" level="INFO"/>-->
</configuration>
